.avatarEdit {
  height: 150px;
  width: 150px;
  background: url("../icons/ava_0010-512.v1443724322.png");
  background-size: cover;
  border-radius: 5px;
}

.updateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.updateContent {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  width: 600px;
  height: 700px;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
}

.updateContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateContent form label {
  display: flex;
  flex-direction: column;
}

.updateContent input {
  height: 3vh;
  font-size: 15px;
  padding-right: 10px;
  margin-right: 3px;
  border-radius: 5px;
}

.updateButton {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
  transition: all 0.3s;
  cursor: pointer;
}

.updateButton:hover {
  background: #f5c634;
}

.updateButton:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.avatarPicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .profileUser {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

.userDataContainer {
  /*background: whitesmoke;
  border: 1px solid black;
  /* //width: 80%;
  //height: 55vh; */
  margin-left: 400px;
  margin-right: 400px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userDataContainer .avatar {
  background: url("../icons/ava_0010-512.v1443724322.png") no-repeat;
  height: 140px;
  width: 140px;
  max-width: 150px;
  background-size: cover;
  border: 3px solid rgb(200, 201, 211);
  border-radius: 50px;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
}

.userDataContainer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.userDataContainer ul .descriptionUser {
  width: 300px;
}

.userDataContainer button {
  transition: all 0.3s;
  border-radius: 5px;
  height: 3vh;
  font-size: 15px;
  margin-bottom: 7px;
}

.userDataButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userDataContainer button:hover {
  background: #5dd9f8;
}

.opinionesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.opinionesContent {
  border: 1px solid black;
  border-radius: 5px;
  background: whitesmoke;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingUser {
  margin: 20px 0 20px 0;
}

.snowboard {
  background: url("../icons/pulp.gif") no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 700px) {
}
.userDataContainer {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 430px) {
  .profileUser {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profileContainer h1 {
    margin: 0;
  }
  .girlDog {
    width: 200px;
    height: 200px;
  }
  .ratingUser {
    margin: 0;
  }
  .userDataContainer {
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 350px;
  }
  .userDataContainer ul {
    width: 200px;
    font-size: 12px;
  }
  .userDataContainer ul .descriptionUser {
    width: 200px;
  }
  .userDataContainer .avatar {
    height: 100px;
    width: 100px;
  }
  .userDataButtons button {
    font-size: 12px;
  }
  .updateContainer h1 {
    margin-top: 0;
  }
  .updateContent {
    width: 350px;
    height: 600px;
    font-size: 12px;
  }
  .updateContent input {
    font-size: 15px;
  }
  .updateContent button {
    font-size: 12px;
  }
  .avatarEdit {
    width: 100px;
    height: 100px;
  }
  .updateButton {
    width: 75px;
  }
  .avatarPicker {
    margin: 15px 0 15px 0;
  }
  .userDataContainer ul {
    width: 200px;
    text-align: justify;
  }
}
