.myBookingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 80vh;
}

.myBookingsContainer h1 {
    margin-bottom: 0;
}

.myBookingsContent {
    border: 1px solid black;
    border-radius: 5px;
    background: whitesmoke;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
}

.myBookingsContent a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingImagen {
    background: url('../icons/houseIreneFlorentina.jpg') no-repeat;
    width: 125px;
    height: 125px;
    background-size: cover;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: inset 2px 3px 5px 0 rgba(150, 150, 150, 0.75);
  }

  .aceptada, .declinada, .pendiente {
      margin-right: 40px;
  }

.myBookingsContent .pendiente {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBookingsContent .aceptada, .bookingIdContent .aceptada {
    background: #717E4D;
    height: 140px;
    width: 140px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBookingsContent .declinada, .bookingIdContent .declinada {
    background: #781D0C;
    height: 140px;
    width: 140px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBookingsContent ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bookingIdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookingIdContent {
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
}

.bookingIdContent .bookingImagen {
    width: 150px;
    height: 150px;
}

.bookingIdContent ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reservarContainer {
    border: 1px solid black;
    border-radius: 5px;
    width: 25vw;
    padding: 15px;
    margin-top: 20px;
}

.reservarLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservarLabel input {
    height: 3vh;
    width: 7vw;
    margin: 10px;
    border-radius: 5px;
}

.reservarContainer button {
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    margin: 15px;
    cursor: pointer;
    transition: all .3s;
}

.reservarContainer button:hover {
    background: #F5C634;
}

.reservarContainer button:active {
    background: whitesmoke;
  }

.boyCouch {
    background: url('../icons/chicosofaportatil.png') no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 430px) {
  .reservarContainer {
      width: 200px;
      height: 120px;
  }
  .myBookingsContainer h1{
    font-size: 20px;
  }
  .myBookingsContainer {
    width: 300px;
    height: 300px;
  }
  .myBookingsContainer .pagination {
    padding: 5px;
  }
  .myBookingsContent {
    width: 250px;
    height: 120px;
    font-size: 10px;
  }
  .myBookingsContent .aceptada, .myBookingsContent .declinada,
  .bookingIdContent .aceptada, .bookingIdContent .declinada {
    width: 95px;
    height: 95px;
    margin-right: 5px;
  }
  .myBookingsContent .pendiente, .bookingIdContent .pendiente {
      margin-right: 5px;
  }
  .myBookingsContent a div .bookingImagen {
    width: 85px;
    height: 85px;
  }
  .bookingIdContainer h1 {
      margin-top: none;
  }
  .bookingIdContent {
      width: 300px;
      font-size: 12px;
  }
  .bookingIdContent .bookingImagen {
      width: 85px;
      height: 85px;
  }
  .boyCouch {
      width: 300px;
      height: 300px;
  }
  .reservarLabel {
      font-size: 12px;
  }
  .reservarContainer {
      height: 150px;
  }
  .reservarLabel input {
      width: 45px;
  }
}