.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  box-shadow: 2px 2px 10px #666;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.icono1 {
  width: 250px;
  margin-right: 15px;
}

.icono2 {
  margin: 0 auto;
  width: 450px;
  height: 150px;
}

.duda {
  padding-top: 10px;
  width: 90%;
  animation-name: aparicion;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  box-shadow: 2px 2px 10px #666;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@keyframes aparicion {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.duda:hover {
  transform: scale(1.05);
}

.icono1 {
  animation-name: aparicion;
  animation-duration: 1s;
  animation-timing-function: linear;
  /* animation-fill-mode: forwards; */
}
@keyframes aparicion {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
